* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: start;
  justify-content: center;
  background: #ffffff;
}

.container {
  background: rgb(255, 255, 255);
  border: 1px solid;
  color: rgb(0, 0, 0);
  font-size: 26px;
  margin-top: 15rem;
  border-radius: 10px;
  padding: 30px 30px;
  
}
button{
    width: 50px;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: red;  
}